.add-torrent {
  padding: 2vh 1vw 0vh 1vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0 0 1vw 1vw;
  background-color: white;
  box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.58);
}

.add-torrent * {
  margin: 0 1vw 0 1vw;
}
