.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-element {

}

.info-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info-file-progress {
  width: 50%;
}

h1 {
  font-size: 64px;
  font-weight: lighter;
}
