.group-name {
  padding: 10vh 0 0 5vw;
  color: #0c77e8;
}

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.card-image {
  flex-grow: 1;
  background: rgb(54,244,180);
  background: radial-gradient(circle, rgba(54,244,180,1) 0%, rgba(57,255,141,1) 100%);
}

.card-header {
  flex-shrink: 0;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.no-playlists {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
