<ng-container *ngIf="hasUserPlaylists()">
  <div class="group-name">
    <h1 class="mat-display-2">My Playlists</h1>
  </div>
  <mat-grid-list cols="4" rowHeight="380">
    <ng-container *ngFor="let playlist of playlists; index as i">
      <mat-grid-tile *ngIf="!playlist.generated">
        <mat-card class="card">
          <img mat-card-image src="" class="card-image" (click)="openPlaylist(i)">
          <mat-card-header>
            <mat-card-title>
              {{playlist.name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Delete</button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle>
              {{playlist.tracks.length}} tracks
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon>playlist_play</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</ng-container>

<ng-container *ngIf="hasAutoPlaylists()">
  <div class="group-name">
    <h1 class="mat-display-2">Auto Playlists</h1>
  </div>
  <mat-grid-list cols="4" rowHeight="380">
    <ng-container *ngFor="let playlist of playlists; index as i">
      <mat-grid-tile *ngIf="playlist.generated">
        <mat-card class="card">
          <img mat-card-image src="" class="card-image" (click)="openPlaylist(i)">
          <mat-card-header>
            <mat-card-title>
              {{playlist.name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Delete</button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle>
              {{playlist.tracks.length}} tracks
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon>playlist_play</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</ng-container>

<div class="no-playlists" *ngIf="playlists.length === 0">
  <h1>Go to <a routerLink="/files">Files</a> and add some sources!</h1>
</div>
