<mat-toolbar class="toolbar" color="primary">
  <mat-icon class="toolbar-logo" color="">waves</mat-icon>
  <a mat-button color="" routerLink="/files" class="toolbar-item">Files</a>
  <a mat-button color="" routerLink="/tracks/playlists" class="toolbar-item">Playlists</a>
  <a mat-button color="" routerLink="/queue" class="toolbar-item">Queue</a>
</mat-toolbar>
<div class="mat-typography" style="margin-top: 64px; margin-left: 4vw; margin-right: 4vw">
  <router-outlet></router-outlet>
</div>
<app-player-panel class="player-panel"></app-player-panel>
