.track-list {
  margin-left: 10vw;
  margin-right: 10vw;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.playlist-icon {
  transform: scale(2);
  position: relative;
  top: 16px;
  left: 10px;
}
