<div class="area-title">
  <h1 class="mat-display-2">{{playlist.name}}</h1>
</div>
<mat-card class="track-list">
  <mat-card-header>
    <ng-container [ngSwitch]="playlist.generated">
      <ng-container *ngSwitchCase="false">
        <div mat-card-avatar><mat-icon class="playlist-icon">queue_music</mat-icon></div>
        <mat-card-title>User Playlist</mat-card-title>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <div mat-card-avatar><mat-icon class="playlist-icon">storage</mat-icon></div>
        <mat-card-title>Source</mat-card-title>
      </ng-container>
    </ng-container>
    <mat-card-subtitle>{{playlist.tracks.length}} tracks</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-tracklist-controls class="controls" [editable]="!playlist.generated" [iconsOnly]="false"></app-tracklist-controls>
    <app-track-list [trackList]="playlist.tracks"></app-track-list>
  </mat-card-content>
</mat-card>
