<audio id="audiotag"></audio>
<mat-progress-bar mode="buffer" [value]="time" [bufferValue]="buffer"></mat-progress-bar>
<button mat-icon-button class="play-element" (click)="playPrevious()" [disabled]="!playerService.currentTrack">
  <mat-icon>
    skip_previous
  </mat-icon>
</button>
<button mat-icon-button class="play-element play-button" (click)="togglePlay()" [disabled]="!playerService.currentTrack">
  <ng-container [ngSwitch]="playerService.playing">
    <mat-icon *ngSwitchCase="true">
      pause_circle_filled
    </mat-icon>
    <mat-icon *ngSwitchDefault>
      play_circle_filled
    </mat-icon>
  </ng-container>
</button>
<button mat-icon-button class="play-element" (click)="playNext()" [disabled]="!playerService.currentTrack">
  <mat-icon>
    skip_next
  </mat-icon>
</button>
