<audio id="audiotag"></audio>
<button mat-icon-button class="play-element" (click)="playPrevious()">
  <mat-icon>
    skip_previous
  </mat-icon>
</button>
<button mat-icon-button class="play-element play-button" (click)="togglePlay()">
  <ng-container [ngSwitch]="playerService.playing">
    <mat-icon *ngSwitchCase="true">
      pause_circle_filled
    </mat-icon>
    <mat-icon *ngSwitchDefault>
      play_circle_filled
    </mat-icon>
  </ng-container>
</button>
<button mat-icon-button class="play-element" (click)="playNext()">
  <mat-icon>
    skip_next
  </mat-icon>
</button>
