@import "theme";

.area-title {
  padding: 10vh 0 0 5vw;
  color: #0c77e8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e3e3e3;}
